@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-img::before{
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: url('../public/bgImg.png');
  background-size: cover;
  opacity: 30% ;
}

.subscribe{
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.40) 0%, rgba(255, 255, 255, 0.40) 100%);
}